html, body{
    width: 100%;
    height: 100%;
    margin: unset;
    background-color: hsla(25, 44%, 92%, 1);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    width: 50%;
    height: 60%;
}

.left-preview {
    width: 100%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

.right-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 30px 30px;
}

.price {
    display: flex;
    justify-content: center;
}

.price div:nth-child(1){
    padding-right: 10px;
}

.price div:nth-child(2){
    padding-left: 10px;
}